@import url('https://fonts.googleapis.com/css2?family=Basic&family=Nunito+Sans:ital,wght@1,300&display=swap');
@mixin img-size {
	@media (max-width: 700px) {
		img {
			position: relative;
			width: 100%;
			height: auto;
			top: 0px;
			right: 0px;
			left: 0px;
			object-fit: contain;
		}
		@content;
	}
}
@mixin burger {
	@media (max-width: 900px) {
		label {
			img {
				display: block;
			}
		}
		@content;
	}
}
html {
	scroll-behavior: smooth;
}
body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	overflow-x: hidden;
	header {
		background: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
		min-height: 100vh;
		width: 100vw;
		font-family: 'Basic', sans-serif;
		display: grid;
		place-items: center;
		nav {
			position: fixed;
			top: 0px;
			right: 0px;
			left: 0px;
			z-index: 10000;
			box-shadow: 1px 0px 0.35rem black;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0.5rem 1rem;
			align-items: center;
			div {
				margin-left: 2rem;
				img {
					width: 2.5rem;
					height: 2.5rem;
					border-radius: 50%;
				}
				display: flex;
				flex-direction: row;
				align-items: center;
				h4 {
					margin: 0rem 1rem;
				}
			}
			label {
				img {
					display: none;
				}
			}
			input {
				display: none;
			}
			ul {
				margin: auto 0px;
				list-style-type: none;
				display: inline-flex;
				justify-content: space-around;
				min-width: 50%;
				align-items: center;
				li {
					padding: 0.25rem 0.5rem;
					font-size: 1.2rem;
					border-top-left-radius: 0.5rem;
					border-bottom-right-radius: 0.5rem;
					a {
						&:hover {
							text-decoration: none;
						}
						color: black;
					}
					&:hover {
						box-shadow: 1px 1px 0.2rem black;
						cursor: pointer;
						background-color: white;
					}
					&:active {
						background-color: black;
						color: white;
						user-select: none;
					}
				}
			}
			@include burger() {
				ul {
					visibility: hidden;
					transform: translateY(-100%);
					transition: transform 1s ease-in;
					li {
						transform: translateX(-200%);
						transition: transform 1s ease-in;
					}
				}
				label {
					img {
						margin-right: 2rem;
						box-shadow: 1px 0 0.2rem black;
						width: 2rem;
						height: 2rem;
						&:hover {
							color: blue;
							cursor: pointer;
						}
						transition: transform 1s ease-in-out;
					}
				}
				input:checked {
					& + ul {
						visibility: visible;
						transform: translateY(0%);
						flex-direction: column;
						z-index: 1000;
						align-items: center;
						width: 100%;
						background-color: rgba(255, 255, 255, 0.253);
						li {
							transform: translateX(0%);
							margin: 1rem;
							width: 60%;
							padding: 1rem;
							font-size: 1.5rem;
							background-color: whitesmoke;
							border-radius: 0.5rem;
							text-align: center;
							&:active {
								background-color: black;
								color: white;
							}
						}
					}
				}
			}
		}
		& > div {
			background-color: white;
			min-height: 60%;
			min-width: 60%;
			box-shadow: 1px 1px 0.5rem black;
			position: relative;
			display: grid;
			place-items: center;
			img {
				position: absolute;
				height: 70%;
				top: 15%;
				left: -150px;
				box-shadow: 1px 1px 0.2rem black;
			}
			@include img-size() {
				& {
					width: 100%;
					margin-top: 5rem;
				}
			}
			p {
				font-size: 3rem;
				letter-spacing: 2px;
				text-align: center;
			}
		}
	}
	main {
		img {
			border-radius: 0.4rem;
		}
		#about {
			background: url('https://images.unsplash.com/photo-1465173121987-373740a169b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1880&q=60');
			min-height: 100vh;
			width: 100vw;
			display: grid;
			place-items: center;
			& > div {
				border-radius: 0.5rem;
				position: relative;
				min-height: 60%;
				width: 60%;
				box-shadow: 1px 1px 0.5rem black;
				justify-self: center;
				h1 {
					font-family: 'Basic', sans-serif;
					margin-top: 2rem;
					font-size: 3rem;
				}
				p {
					text-align: center;
					padding: 2rem;
					font-family: 'Basic', sans-serif;
					font-size: 1.4rem;
				}
				img {
					height: 70%;
					position: absolute;
					top: 15%;
					left: -175px;
					box-shadow: 1px 1px 0.2rem black;
				}
				@include img-size() {
					img {
						display: none;
					}
					& {
						width: 100%;
					}
				}
			}
			@include img-size() {
				background: none;
			}
		}
		.row:nth-child(2) {
			min-height: 100vh;
			display: grid;
			place-items: center;
			font-family: 'Basic', sans-serif;
			background-color: whitesmoke;
			& > div {
				border-top-left-radius: 1rem;
				border-bottom-right-radius: 1rem;
				margin: 2rem;
				box-shadow: 1px 0 0.5rem -1px black;
				padding: 1rem;
				position: relative;
				img {
					position: absolute;
					height: 60%;
					top: 20%;
					right: -150px;
					box-shadow: 1px 1px 0.2rem rgba(255, 255, 255, 0.295);
				}
				@include img-size() {
					img {
						display: none;
					}
				}
				h1 {
					margin-bottom: 2rem;
					font-size: 3rem;
				}
				h3 {
					margin: 1rem;
					font-size: 2rem;
				}
				p {
					font-family: 'Nunito Sans', sans-serif;
					margin: 1rem;
					font-size: 1.25rem;
				}
			}
		}
		#knowledge {
			display: grid;
			place-items: center;
			min-height: 100vh;
			max-width: 100vw;
			font-family: 'Basic', sans-serif;
			& > div {
				border-radius: 0.5rem;
				background: linear-gradient(-45deg, rgba(255, 255, 255, 0.205), rgba(0, 0, 0, 0.103));
				box-shadow: 1px 0 0.5rem rgba(255, 255, 255, 0.24), 1px 1px 0.5rem black;
				min-height: 70%;
				display: grid;
				h1 {
					margin: 2rem 0px;
					font-size: 3rem;
				}
				ul {
					list-style-type: none;
				}
				& > ul {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					li {
						text-align: center;
						color: black;
						padding: 1rem;
						h5 {
							font-family: 'Nunito Sans', sans-serif;
							text-transform: capitalize;
							font-size: 2rem;
						}
						ul {
							display: flex;
							font-size: 1.5rem;
							flex-direction: column;
						}
					}
				}
			}
		}
		#projects {
			background-color: whitesmoke;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			font-family: 'Basic', sans-serif;
			h1 {
				justify-self: center;
				margin: 2rem auto;
				font-size: 3rem;
			}
			& > div {
				background-color: white;
			}
			.bigproj {
				position: relative;
				padding: 2rem;
				box-shadow: 1px 0 0.2rem black;
				border-top-right-radius: 0.5rem;
				border-bottom-left-radius: 0.5rem;
				h3 {
					font-size: 2rem;
					text-transform: capitalize;
				}
				p {
					font-family: 'Nunito Sans', sans-serif;
					font-size: 1.5rem;
					word-spacing: 5px;
				}
				h5 {
					padding: 1rem;
					font-size: 1.5rem;
				}
				img {
					position: absolute;
					height: 60%;
					top: 20%;
					left: -150px;
					border-radius: 0.5rem;
					box-shadow: 1px 0 0.2rem black;
					filter: saturate(90%) brightness(90%) contrast(90%);
				}

				div {
					display: flex;
					justify-content: space-around;
					button {
						font-family: 'Nunito Sans', sans-serif;
						border: none;
						padding: 0.5rem 2.5rem;
						font-size: 1.5rem;
						background-color: white;
						box-shadow: 1px 0 0.2rem black;
						border-top-left-radius: 1rem;
						border-bottom-right-radius: 1rem;
						outline: none;
						&:hover {
							cursor: pointer;
							color: rgb(18, 10, 128);
							text-decoration: underline;
						}
						&:active {
							background-color: black;
							color: white;
						}
					}
				}
				&:nth-child(even) {
					box-shadow: -1px 0 0.2rem black;
					img {
						top: 20%;
						left: 70%;
					}
					@include img-size();
				}
				@include img-size();
			}
			.smallproj {
				min-height: 100vh;
				display: grid;
				place-items: center;
				& > div {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					margin: 2rem 1rem;
					position: relative;
					@include img-size() {
						display: block;
						& > div + div {
							margin-top: 1rem;
						}
					}
					.card {
						padding: 0px;
						box-shadow: 1px 0 0.2rem black;
						border-radius: 0.5rem;
						img {
							width: 100%;
						}
						.card-body {
							h3 {
								font-family: 'Basic', sans-serif;
								font-size: 2rem;
							}
							p {
								font-family: 'Nunito Sans', sans-serif;
								font-size: 1.5rem;
								padding: 2rem 0px;
							}
							& + div {
								a {
									&:hover {
										text-decoration: none;
									}
									button {
										border: none;
										outline: none;
										padding: 0.75rem 2rem;
										font-size: 1.2rem;
										background-color: white;
										box-shadow: 1px 0 0.2rem rgb(5, 3, 3);
										border-top-left-radius: 0.5rem;
										border-bottom-right-radius: 0.5rem;
										&:hover {
											color: blue;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	footer {
		background: url('https://images.unsplash.com/photo-1555134473-a8e88487e828?ixlib=rb-1.2.1&w=1080&q=60');
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 50vh;
		display: grid;
		align-items: center;
		font-family: 'Basic', sans-serif;
		margin-top: 3rem;
		box-shadow: 1px 0 0.5rem black;
		background-color: rgba(0, 0, 0, 0.082);
		ul {
			display: flex;
			list-style-type: none;
			justify-content: space-around;
			flex-wrap: wrap;
			li {
				padding: 0.5rem 2rem;
				font-size: 1.5rem;
				box-shadow: 1px 0 0.5rem black;
				border-top-left-radius: 0.75rem;
				border-bottom-right-radius: 0.75rem;
				a {
					&:hover {
						text-decoration: none;
					}
					color: black;
				}
			}
		}
	}
}
.fa-github {
	margin-right: 0.2rem;
}
@keyframes anim {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes text {
	0% {
		transform: translateY(0%);
		opacity: 0.8;
	}
	50% {
		transform: translateY(-0.5%);
		opacity: 0.5;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
